.container-fluid{
    padding-right: 0px;
padding-left: 0px;
}

.menu{
    display: flexbox;
    background-color: white;
}

.separador{
    background-color: snow;
    height: 10px;
    width: 100%;
}

.portada{
    height: 100vh;
    width: 100%;
    background-image: url("../img/principal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contacto{
    height: 100vh;
    width: 100%;
    background-color: azure;
    background-image: url("../img/contacto/fondo.jpg");
    background-repeat: repeat-y;
}

.titulo{
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 10vw;
    padding: 2% 0 0 8%;
}
.subtitulo{
    color: white;
    font-family: 'Parisienne', cursive;
    font-size: 4vw;
    padding: 0 0 0 70%;
}

@media (max-width: 667px){

    .titulo{
        padding: 20% 0 0 10%;
        font-size: 13vw;
    }

    .portada{
        background-image: url("../img/principalV.jpg");
    }

    .contacto{
        background-image: url("../img/contacto/fondo2.jpg");
        background-repeat: repeat-y;
    }
}

@media (min-width: 668px) and (max-width: 820px){
    .portada{
        background-image: url("../img/principalH.jpg");
    }

    .contacto{
        background-image: url("../img/contacto/fondo2.jpg");
        background-repeat: repeat-y;
    }
}

.styleMapa{
    border-radius: 25px;
}

.formContact{
    margin-top: 5%;
}

.correccionContact{
    margin-bottom: 2%;
}

.logosRedes{
    height: 70px;
}

.textRedes{
    font-size: 1.2em;
}

.correccionRedes{
    margin-top: 13%;
    
}

.correcionRed{
    margin-bottom: 10%;
}

.redS{
    background-color: rgba(57, 60, 73, .2);
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
}

.correcionPrecios{
    padding-left: 5%;
    padding-right: 5%;
}

.subtituloText{
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Great Vibes', cursive;
}

.formPedTit{
    margin-top: 2%;
}

.formPedSubt{
    margin-top: 2%;
    margin-bottom: 1%;
}

.logo{
    width: 10vw;
}

.titRedes{
    margin-bottom: 7vh;
    margin-left: 5vw;
}

h5{
    font-size: 3em;
}

.mensajeImg{
    font-size: 2em;
}